.map__wrapper {
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 999;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out; /* Smooth transition for width and height */
}

.map__wrapper:hover {
    width: 500px;
    height: 400px;
}
